In [1]:
# LIST
# TUPLE
# DICT"
# SET
# BOOLEAN"

# LIST

In [2]:
lst = ["apple", "banana", "cherry", "mango"]

In [3]:
lst.append("guava")
lst

['apple', 'banana', 'cherry', 'mango', 'guava']

In [40]:
lst = ["apple", "banana", "cherry", "mango"]
lst.clear()
lst

[]

In [8]:
lst = ["apple", "banana", "cherry", "mango"]
lst1 = lst.copy()
lst1

['apple', 'banana', 'cherry', 'mango']

In [50]:
lst = ["apple", "banana", "cherry", "mango"]
lst.count("cherry")
lst

['apple', 'banana', 'cherry', 'mango']

In [19]:
lst = ["apple", "banana", "cherry", "mango"]
lst1 = ["tomato", "potato", "onion", "spinach"]
lst.extend(lst1)
lst

['apple', 'banana', 'cherry', 'mango', 'tomato', 'potato', 'onion', 'spinach']

In [39]:
lst = ["apple", "banana", "cherry", "mango"]
lst.index("cherry")

2

In [38]:
lst = ["apple", "banana", "cherry", "mango"]
lst.insert(0, "orange")
lst

['orange', 'apple', 'banana', 'cherry', 'mango']

In [43]:
lst = ["apple", "banana", "cherry", "mango"]
lst.pop(2)
lst

['apple', 'banana', 'mango']

In [45]:
lst = ["apple", "banana", "cherry", "mango"]
lst.remove("mango")
lst

['apple', 'banana', 'cherry']

In [48]:
lst = ["apple", "banana", "cherry", "mango"]
lst.reverse()
lst

['mango', 'cherry', 'banana', 'apple']

In [49]:
lst = ["apple", "banana", "cherry", "mango"]
lst.sort()
lst

['apple', 'banana', 'cherry', 'mango']

# TUPLE

In [ ]:
tpl = ("John", "Sam", "Michael", "David")

In [53]:
tpl.count("David")
tpl

('John', 'Sam', 'Michael', 'David')

In [56]:
tpl.index("Michael")
tpl

('John', 'Sam', 'Michael', 'David')

# DICT

In [57]:
dct = {
    "Name" : "John Paul",
    "Age" : 20,
    "Roll No." : 19524,
    "Course" : "Python"
}

In [59]:
dct.clear()
dct

{}

In [61]:
dct = {
    "Name" : "John Paul",
    "Age" : 20,
    "Roll No." : 19524,
    "Course" : "Python"
}
dct1 = dct.copy()
dct1

{'Name': 'John Paul', 'Age': 20, 'Roll No.': 19524, 'Course': 'Python'}

In [68]:
x = ("Key1", "Key2", "Key3")
y = "NOT DEFINED"
thisdict = dict.fromkeys(x, y)
thisdict

{'Key1': 'NOT DEFINED', 'Key2': 'NOT DEFINED', 'Key3': 'NOT DEFINED'}

In [70]:
dct = {
    "Name" : "John Paul",
    "Age" : 20,
    "Roll No." : 19524,
    "Course" : "Python"
}
dct.get("Course")
dct

{'Name': 'John Paul', 'Age': 20, 'Roll No.': 19524, 'Course': 'Python'}

In [73]:
dct.items()
dct

{'Name': 'John Paul', 'Age': 20, 'Roll No.': 19524, 'Course': 'Python'}

In [74]:
dct.keys()
dct

{'Name': 'John Paul', 'Age': 20, 'Roll No.': 19524, 'Course': 'Python'}

In [77]:
dct.pop("Age")
dct

{'Name': 'John Paul', 'Roll No.': 19524, 'Course': 'Python'}

In [78]:
dct.popitem()
dct

{'Name': 'John Paul', 'Roll No.': 19524}

In [81]:
dct = {
    "Name" : "John Paul",
    "Age" : 20,
    "Roll No." : 19524,
    "Course" : "Python"
}
dct.setdefault("Name", "David")
dct

{'Name': 'John Paul', 'Age': 20, 'Roll No.': 19524, 'Course': 'Python'}

In [82]:
dct.update({"Gender" : "Male"})
dct

{'Name': 'John Paul',
 'Age': 20,
 'Roll No.': 19524,
 'Course': 'Python',
 'Gender': 'Male'}

In [83]:
dct.values()
dct

{'Name': 'John Paul',
 'Age': 20,
 'Roll No.': 19524,
 'Course': 'Python',
 'Gender': 'Male'}

# SET

In [84]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra"}
st.add("Car")
st

{1, 2, 3, 5, 'Ball', 'Car', 'Hello', 'Zebra'}

In [85]:
st.clear()
st

set()

In [86]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra"}
st1 = st.copy()
st1

{1, 2, 3, 5, 'Ball', 'Hello', 'Zebra'}

In [88]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st1 ={1, 2, "Car", "Red", "Flower"}
z = st.difference(st1)
z

{3, 5, 'Ball', 'Hello', 'Zebra'}

In [89]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st1 ={1, 2, "Car", "Red", "Flower"}
st.difference_update(st1)
st

{3, 5, 'Ball', 'Hello', 'Zebra'}

In [90]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st.discard("Car")
st

{1, 2, 3, 5, 'Ball', 'Hello', 'Zebra'}

In [91]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st1 ={1, 2, "Car", "Red", "Flower"}
z = st.intersection(st1)
z

{1, 2, 'Car'}

In [92]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st1 ={1, 2, "Car", "Red", "Flower"}
st.intersection_update(st1)
st1

{1, 2, 'Car', 'Flower', 'Red'}

In [96]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st1 = {0, 4, 4, 6, 9, "Good", "Lion", "Bat",}
z = st.isdisjoint(st1)
z

True

In [101]:
a = {"a", "b", "c", "d", "e", "f", "g"}
b = {"a", "b", "c"}
z = b.issubset(a)
z

True

In [103]:
a = {"a", "b", "c", "d", "e", "f", "g"}
b = {"a", "b", "c"}
z = a.issuperset(b)
z

True

In [1]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st.pop()
st

{2, 3, 5, 'Ball', 'Car', 'Hello', 'Zebra'}

In [3]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st.remove("Car")
st

{1, 2, 3, 5, 'Ball', 'Hello', 'Zebra'}

In [4]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st1 ={1, 2, "Car", "Red", "Flower"}
z = st.symmetric_difference(st1)
z

{3, 5, 'Ball', 'Flower', 'Hello', 'Red', 'Zebra'}

In [5]:
st = {1, 2, 2, 3, 3, 3, 5, 5, "Hello", "Ball", "Zebra", "Car"}
st1 ={1, 2, "Car", "Red", "Flower"}
st.symmetric_difference_update(st1)
st

{3, 5, 'Ball', 'Flower', 'Hello', 'Red', 'Zebra'}

In [6]:
a = {"apple", "banana", "cherry"}
b = {"Mango", "Pear", "Papaya"}
z = a.union(b)
z

{'Mango', 'Papaya', 'Pear', 'apple', 'banana', 'cherry'}

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.update(y)
x

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

# BOOLEAN

In [9]:
bool(10 > 9)

True

In [10]:
bool(0 > 1)

False

In [11]:
bool(100)

True

In [12]:
bool(0)

False

In [13]:
bool("Hello")

True

In [14]:
a = 10
b = 20
if b > a:
    print("True")
else:
    print("False")

True